/* Colors */

$basic-black: #373F41;
$basic-white: #ffffff;
$basic-accent: #3C64B1;
$basic-gray-dark: #737B7D;
$basic-gray-light: #F3F6FA;

/* Fonts */

$basic-font-regular: "Mulish", "Arial", sans-serif;

