.page-footer {
  width: 100%;
  background-color: $basic-accent;
  color: $basic-white;

  .container {
    padding: 70px 20px 120px 20px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    @media (max-width: 767px) {
      flex-wrap: wrap;
    }
  }

  &__wrapper {
    width: 33%;
    display: flex;
    flex-direction: column;

    @media (max-width: 767px) {
      width: 100%;
      margin-bottom: 40px;
    }
  }

  h3 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: -0.231818px;
  }

  a {
    color: $basic-white;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin-top: 21px;
      line-height: 19px;
      letter-spacing: -0.204545px;
    }
  }

  .button-footer {
    width: 50px;
    height: 50px;
    border: none;
    background-color: $basic-white;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  .button-top {
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.6333 13.3459L10.8125 9.52511L6.99167 13.3459L5.8125 12.1668L10.8125 7.16678L15.8125 12.1668L14.6333 13.3459Z' fill='%235E4DCD'/%3E%3C/svg%3E%0A");
  }

  .button-send {
    background-image: url("data:image/svg+xml,%3Csvg width='7' height='11' viewBox='0 0 7 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.154175 9.13333L3.97501 5.3125L0.154175 1.49167L1.33334 0.3125L6.33334 5.3125L1.33334 10.3125L0.154175 9.13333Z' fill='black'/%3E%3C/svg%3E%0A");
  }

  &__bottom {
    display: flex;
    justify-content: space-between;

    @media (max-width: 560px) {
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }

    h3 {
      width: 164px;
      font-weight: 600;
      font-size: 22px;
      line-height: 28px;
      letter-spacing: -0.3px;
    }
  }

  form {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
  }

  input {
    width: 279px;
    height: 49px;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #979797;
    font-family: Mulish;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -0.204545px;
    color: $basic-white;
    padding: 0 10px;

    &::-webkit-input-placeholder {
      color: $basic-white;
      opacity: 0.5;
    }
    &::-moz-placeholder {
      color: $basic-white;
      opacity: 0.5;
    }
    &:-moz-placeholder {
      color: $basic-white;
      opacity: 0.5;
    }
    &:-ms-input-placeholder {
      color: $basic-white;
      opacity: 0.5;
    }

    @media (max-width: 560px) {
      width: 229px;
    }

  }

  .social-links {
    display: flex;
    gap: 40px;
    align-items: flex-end;
  }
}
