.page {
  height: 100%;
}

.page__body {
  margin: 0;
  padding: 0;
  font-family: $basic-font-regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: $basic-black;
  background-color: $basic-white;
  min-height: 100%;
}
